.header__logo {
  padding-bottom: 35px;
  width: 142px;
  height: 33px;
}

@media (max-width: 450px) {
  .header__logo {
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
    padding-bottom: 26.5px;
  }
}
